#works{
    margin: 0 auto;
    min-height: cal(100vh-3rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
.worksTitle{
    margin: 2rem 0;
    font-size: 3rem;
    border-bottom: 5px solid white;
}
.workDesc{
    font-weight: 300;
    font-size: medium;
    padding: 0.3rem;
   text-align: center;
   margin: 0 3rem;
   margin-bottom: 1.5rem;
}
.worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 70rem;
    flex-wrap: wrap;
}
.worksImg{
    object-fit: cover;
    height: 20rem;
    width: 16rem;
    margin: 0.5rem;
    border: 3px solid rgb(61, 61, 61);
}
.imgDesc{
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:visited {
    color: white;
}

.worksBtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
}
@media screen and (max-width:585px){
    #works{
        max-width: 30rem;
    }
    .worksImg{
        height: 12rem;
        width: 10rem; 
    }
}